# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
colgm
colgm.exe

# LLVM IR files
*.ll

# Directory
build
cmake-windows-*
.vscode
.DS_Store

# Misc & Logs
dump
dump.*
*.log
