name: Bootstrap

on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/ci.yml
      - .github/workflows/release.yml
      - bootstrap/**
      - src/**
      - std/**
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/ci.yml
      - .github/workflows/release.yml
      - bootstrap/**
      - src/**
      - std/**
  workflow_dispatch:

jobs:
  mac-aarch64-build-bootstrap:
    runs-on: macos-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: fetch llvm-dev
      run: |
          brew update
          brew install llvm@17
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          lli --version
    - name: build
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          python3 misc/build.py
    - name: check
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          ./build/colgm_self_host
    - name: test
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          python3 misc/test.py
    - name: package
      run: |
          python3 misc/pack.py colgm-macos-aarch64-nightly.zip
    
  linux-x86_64-build-bootstrap:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: fetch llvm-dev
      run: |
          sudo apt-get update
          sudo apt-get install llvm-20 llvm-20-dev clang-20
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          lli --version
    - name: build
      run: |
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          python3 misc/build.py
    - name: check
      run: |
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          ./build/colgm_self_host
    - name: test
      run: |
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          python3 misc/test.py
    - name: package
      run: |
          python3 misc/pack.py colgm-linux-x86_64-nightly.zip
  
  windows-x86_64-build-bootstrap:
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: fetch llvm-dev
      run: |
          choco install -y llvm
          choco install -y cmake
          clang --version
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: build
      run: |
          python3 misc/build.py
    - name: check
      run: |
          .\cmake-windows-build\colgm_self_host.exe
    - name: test
      run: |
          python3 misc\test.py
    - name: package
      run: |
          python3 misc\pack.py colgm-windows-x86_64-nightly.zip
  
  linux-x86_64-memleak-check:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: fetch llvm-dev
      run: |
          sudo apt-get update
          sudo apt-get install llvm-20 llvm-20-dev clang-20 valgrind
          export PATH="/usr/lib/llvm-20/bin:$PATH"
    - name: build
      run: |
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          python3 misc/build.py
    - name: check
      run: |
          export PATH="/usr/lib/llvm-20/bin:$PATH"
          python3 misc/memleak_check.py