name: Nightly Build

on:
  schedule:
   - cron: "0 16 * * *"
  workflow_dispatch:

jobs:
  mac-aarch64-build-bootstrap:
    runs-on: macos-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: update tag
      run: |
        git fetch --tags origin
        git tag -f macOS_nightly
        git push -f origin macOS_nightly
    - name: fetch llvm-dev
      run: |
          brew update
          brew install llvm@17
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          lli --version
    - name: build
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          python3 misc/build.py
    - name: check
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          ./build/colgm_self_host
    - name: test
      run: |
          export PATH="/opt/homebrew/opt/llvm@17/bin:$PATH"
          python3 misc/test.py
    - name: package
      run: |
          python3 misc/pack.py colgm-macos-aarch64-nightly.zip
    - name: release
      uses: softprops/action-gh-release@v2.0.5
      with:
        name: macOS nightly build
        tag_name: macOS_nightly
        prerelease: true
        draft: false
        files: |
          colgm-macos-aarch64-nightly.zip
    
  linux-x86_64-build-bootstrap:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: update tag
      run: |
          git fetch --tags origin
          git tag -f linux_nightly
          git push -f origin linux_nightly
    - name: fetch llvm-dev
      run: |
          sudo apt-get update
          sudo apt-get install llvm-18 llvm-18-dev clang-18
          export PATH="/usr/lib/llvm-18/bin:$PATH"
          lli --version
    - name: build
      run: |
          export PATH="/usr/lib/llvm-18/bin:$PATH"
          python3 misc/build.py
    - name: check
      run: |
          export PATH="/usr/lib/llvm-18/bin:$PATH"
          ./build/colgm_self_host
    - name: test
      run: |
          export PATH="/usr/lib/llvm-18/bin:$PATH"
          python3 misc/test.py
    - name: package
      run: |
          python3 misc/pack.py colgm-linux-x86_64-nightly.zip
    - name: release
      uses: softprops/action-gh-release@v2.0.5
      with:
        name: linux nightly build
        tag_name: linux_nightly
        prerelease: true
        draft: false
        files: |
          colgm-linux-x86_64-nightly.zip
  
  windows-x86_64-build-bootstrap:
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: update tag
      run: |
          git fetch --tags origin
          git tag -f windows_nightly
          git push -f origin windows_nightly
    - name: fetch llvm-dev
      run: |
          choco install -y llvm
          choco install -y cmake
          clang --version
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: build
      run: |
          python3 misc/build.py
    - name: check
      run: |
          .\cmake-windows-build\colgm_self_host.exe
    - name: test
      run: |
          python3 misc\test.py
    - name: package
      run: |
          python3 misc\pack.py colgm-windows-x86_64-nightly.zip
    - name: release
      uses: softprops/action-gh-release@v2.0.5
      with:
        name: windows nightly build
        tag_name: windows_nightly
        prerelease: true
        draft: false
        files: |
          colgm-windows-x86_64-nightly.zip
    